__pycache__/
*.py[cod]
*$py.class

# Build & Distribution outputs
build/
dist/
*.egg-info/
.eggs/

# Virtual Environments
venv/
.venv/
env/
test_env/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
